main {
  background-color: rgb(2 11 13);
}

section.hero {
  position: relative;
  height: 250vh;
  overflow: hidden;
  .hero {
    transition: opacity 0.4s ease;
    opacity: 1;

    &.loading {
      opacity: 0;
    }

    &-wrapper {
      position: relative;
      //   overflow: hidden;
      height: 100vh;
      padding: 20px 20px 120px;

      &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .bg-item {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          opacity: 0;

          &.active {
            opacity: 1;
          }
        }

        &.active {
          visibility: visible;
        }
      }

      &__video {
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        height: calc(100dvh - 140px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          margin: auto;
          max-width: 100%;
          border-radius: 20px;
          overflow: hidden;
          background-color: var(--color-black);
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        padding: 40px;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &::after {
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.05),
            rgba(255, 255, 255, 0.1)
          );
        }

        .title {
          span {
            font-size: 94px;
            line-height: 103px;
            color: var(--color-white);
            display: block;

            &:last-child {
              margin-left: 85px;
            }
          }
        }

        .content-bottom {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          p {
            font-size: 21px;
            line-height: 31px;
            color: var(--color-white);
            width: 30%;
          }

          .col-right {
            span {
              font-size: 94px;
              line-height: 103px;
              color: var(--color-white);
              display: block;
              text-align: right;

              &:last-child {
                margin-right: 40px;
              }
            }
          }
        }
      }
    }

    &-switcher {
      position: fixed;
      z-index: 2;
      top: 50dvh;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      height: max-content;
      // transition: 0.3s ease;
      opacity: 0;
      visibility: hidden;

      .item-ovl {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease;
      }

      &.active {
        opacity: 1;
        visibility: visible;

        .list-item {
          .item {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.15) 0%,
              rgba(153, 153, 153, 0) 100%
            );
            backdrop-filter: blur(10px);
            border: 2px solid hsla(0, 0%, 100%, 0.15);
          }
          .item.active {
            background: var(--main-color);
            border-color: var(--main-color);
            width: 400px !important;
            transition: transform 0.4s ease;
            transition: width 0.5s ease;
            pointer-events: none;

            p {
              width: max-content;
              font-size: 24px;
              opacity: 1;
              transition: opacity 0.4s ease;
              transition-delay: 0.6s;
            }

            img {
              left: 10px;
              top: 10px;
            }
          }
        }
      }

      &.loading {
        opacity: 1;
        visibility: visible;
        z-index: 21;

        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-black);

        .list-item {
          .item {
            background-color: var(--main-color);
            border-color: var(--main-color);
          }
        }

        .item-ovl {
          width: 100px;
          height: 60px;
          position: absolute;
          z-index: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--main-color);
          border-radius: 40px;
          opacity: 1;
          visibility: visible;
        }
      }

      .list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: none;

        .item {
          width: 100px;
          height: 60px;
          border-radius: 40px;
          // overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid hsla(0, 0%, 100%, 0.15);
          cursor: pointer;
          position: relative;

          p {
            color: var(--color-white);
            opacity: 0;
            width: 0;
            transition-delay: 0s;
          }

          img {
            width: 59px;
            height: 59px;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }
        }
      }
    }

    &-gradient {
      width: 100vmin;
      height: 50vmin;
      filter: blur(30vw);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 1s;
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: var(--flower-color);
      transform: translate(-50%, 0);

      &.active {
        opacity: 0.6;
      }
    }

    &-personas {
      position: absolute;
      overflow: hidden;
      height: 95vmin;
      transform-origin: bottom;
      aspect-ratio: 1;
      isolation: isolate;
      bottom: 0;
      pointer-events: none;
      transform: translate(-50%, 0);
      left: 50%;
      z-index: 20;

      canvas {
        width: 100%;
        height: 100%;
      }

      .img {
        opacity: 0;
        transition: opacity 0.3s;

        &.active {
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
