.introduce {
  position: relative;
  overflow: hidden;
  height: 150vh; // Đủ cao để cuộn

  .slider {
    position: relative;
    width: 100%;
    height: 100vh; // Chiều cao cố định để pin
    transform-style: preserve-3d;
    perspective: 2000px;
  }

  .slide {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    .slide-coppy {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      z-index: 1;
      p {
        margin: 0;
        font-size: 24px;
      }
      .index {
        font-size: 16px;
        opacity: 0.7;
      }
    }

    .slide-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  #slide-1 {
    top: 50%;
    left: 70%;
    transform: translate3d(-50%, -50%, -12500px);
    opacity: 0;
  }
  #slide-2 {
    top: 50%;
    left: 30%;
    transform: translate3d(-50%, -50%, -10000px);
    opacity: 0;
  }
  #slide-3 {
    top: 50%;
    left: 70%;
    transform: translate3d(-50%, -50%, -7500px);
    opacity: 0;
  }
  #slide-4 {
    top: 50%;
    left: 30%;
    transform: translate3d(-50%, -50%, -5000px);
    opacity: 0;
  }
  #slide-5 {
    top: 50%;
    left: 70%;
    transform: translate3d(-50%, -50%, -2500px);
    opacity: 0.5;
  }
  #slide-6 {
    top: 50%;
    left: 30%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}
